<section class="container">
  <p class="post-title">Add New Post :</p>
  <%= form_with model: @post, url: user_posts_path, method: :post, local: true, class: "form-control" do |form| %>
    <%= form.hidden_field :comments_counter, value: 0 %>
    <%= form.hidden_field :likes_counter, value: 0 %>
    <div class="mb-3 mt-3">
      <%= form.label :title , class: "form-lable" %>
      <%= form.text_field :title, placeholder: "Title", required: true, class: "form-control" %>
    </div>
    <div>
      <%= form.label :text , class: "form-lable"%>
      <%= form.text_area :text, placeholder: "Type your post here!", rows: 5, required: true,  class: "form-control" %>
    </div>
    <div>
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>
